<% if(success && success.length) { %>
	<div class="alert-success">
		<span class="closebtn" onclick="this.parentElement.style.display='none';">&times;</span>
		<%= success %>
	</div>
	<!-- <h1 style="color: green;"><%= success %></h1> -->
<% } %>

<% if(error && error.length) { %>
	<div class="alert-error">
		<span class="closebtn" onclick="this.parentElement.style.display='none';">&times;</span>
		<%= error %>
	</div>
	<!-- <h1 style="color: red;"><%= error %></h1> -->
<% } %>

