<% if(success && success.length) { %>
	<div class="color-green">
		<span class="closebtn" onclick="this.parentElement.style.display='none';">&times;</span>
		<strong><%= success %></strong> 
	</div>
<% } %>

<% if(error && error.length) { %>
	<div class="color-red">
		<span class="closebtn" onclick="this.parentElement.style.display='none';">&times;</span>
		<strong><%= error %></strong> 
	</div>
<% } %>

