<header class="main-header">
    <nav class="nav main-nav">
        <ul>
            <li><a href="/">Homepage</a></li>
            <li><a href="/posts">Posts</a></li>
            <li><a href="/posts/new">Add New Post</a></li>
            <li><a href="/register">Register</a></li>
            <% if (user) { %>
                <li><a href="/auth/logout">Log out</a></li>
            <% } else { %>
                <li><a href="/auth/login">Login</a></li>
            <% } %>
            <li><a href="/profile">My Profile</a></li>
        </ul>
    </nav>
</header>