<!DOCTYPE html>
<html>

<head>
    <title><%= title %></title>
    <!-- jquery google CDN -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <!-- Pure CSS -->
    <link rel="stylesheet" href="https://unpkg.com/purecss@1.0.1/build/pure-min.css">
    <link rel="stylesheet" href="/stylesheets/style.css">
    <!-- Stripe libary -->
    <script src="https://js.stripe.com/v1/"></script>
</head>

<body>
    <% include ../partials/navbar %>
    <% include ../partials/flash-messages %>
    <%- body -%>
</body>

</html>