* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.nav ul {
  margin: 0;
}

.nav li {
  display: inline;
}

.nav a {
  display: inline-block;
  padding: .5em;
  color: whitesmoke;
  text-decoration: none;
}

.main-nav {
  text-align: center;
  font-size: 1.1em;
  font-weight: lighter;
}

.main-nav li {
  padding: 0 5%;
}

.nav a:hover {
  background-color: rgba(255, 255, 255, .3);
  border-radius: 5px;
}

.main-header {
  background-color: #24292e;
  padding: 12px 0px;
  line-height: 1.5;
}

.google-btn{
  font-family: open sans,helvetica neue;
  color: #29303b;
  text-decoration: none;
  font-size: 18px;
  padding: 10px;
  background-color: #ff5353;
  border: 1px solid #dedfe0;
  border-radius: 6px;
}

.pagination {
  margin: 20px 0px;
  text-align: center;
}

.pagination a {
  color: black;
  padding: 8px 16px;
  text-decoration: none;
  transition: background-color .3s;
  font-size: 16px;
}

.pagination a:hover {
  background-color: #ddd;
  border-radius: 5px;
}

.color-green { 
  background-color: #1edd6e; 
  padding: 10px;
  color: white;
  text-align: center;
  margin-bottom: 10px;
}

.color-red { 
  background-color: #f44336;
  padding: 10px;
  color: white;
  text-align: center;
  margin-bottom: 10px;
}

.closebtn {
  margin-left: 15px;
  color: white;
  font-weight: bold;
  float: right;
  font-size: 22px;
  line-height: 20px;
  cursor: pointer;
  transition: 0.3s;
}

.closebtn:hover {
  color: black;
}