<!DOCTYPE html>
<html>

<head>
    <title><%= title %></title>
    <link rel="stylesheet" href="/stylesheets/payment-confirmation.css">
</head>

<div class="text-center">
    <img src="https://png.pngtree.com/png-vector/20191113/ourlarge/pngtree-green-check-mark-icon-flat-style-png-image_1986021.jpg" alt="">
    <h1>Payment Complete</h1>
    <p>Thank you for your order!</p>
    <p>
        <a href="/posts">Click here</a> to continue shopping
    </p>
</div>

</html>
